<footer class="p-4 text-center">
    <ul class="list-inline">
        <li style="font-size: 1.2em" class="list-inline-item"><a href="#">&copy; 2020 MANGO INC.</a></li>
        <li style="font-size: 1.2em" class="list-inline-item"><a href="#">PRIVACY POLICY</a></li>
        <li style="font-size: 1.2em" class="list-inline-item"><a href="#">TERMS &amp; CONDITIONS</a></li>
        <li style="font-size: 1.2em" class="list-inline-item"><a href="#">COOKIE POLICY</a></li>
        <li style="font-size: 1.2em" class="list-inline-item"><a href="#">GDPR</a></li>
    </ul>
</footer>