<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
    <div class="container">
        <a class="navbar-brand font-weight-bold font--heading" asp-area="" asp-controller="Home" asp-action="Index">Mango</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link font-weight-bold text-nowrap" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold text-nowrap" href="#">Getting Started</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold text-nowrap" asp-area="" asp-controller="Home" asp-action="Privacy">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold text-nowrap" asp-area="" asp-controller="Home" asp-action="Privacy">Contact</a>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link font-weight-bold text-nowrap" href="#">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>