@model Mango.WEB.Areas.Admin.Models.Dashboard.IndexViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Dashboard";
    ViewData["Heading"] = "Manage your services in one space";
}

<div class="container-fluid pt-3 pb-1">
    <div class="jumbotron text-center text-dark" style="background-color: #faaf52">
        <h1 class="display-4 font-weight-bold">@ViewData["Heading"].</h1>
        <p class="lead font-weight-normal">Start by selecting a service.</p>
    </div>

    <div class="jumbotron text-center bg-light">
        <div class="d-flex justify-content-center align-items-center">
            <div class="card text-center mr-4" style="width: 18rem;">
                <div class="text-secondary card-body pt-5">
                    <h2><i class="fas fa-utensils fa-3x text-success"></i></h2>
                </div>
                <div class="card-body">
                    <p class="badge badge-success">New</p>
                    <h5 class="card-title text-dark">Stocks+</h5>
                    <p class="card-text">Manage your stock of foods and equipment. Keep track of what goes in and out of your kitchen.</p>
                    <a class="btn btn-success mx-1" asp-area="Stock" asp-controller="Stock" asp-action="Index">Open Service</a>
                    <a href="#" class="btn btn-outline-success mx-1">Full Guide</a>
                </div>
            </div>

            <div class="card text-center mr-4" style="width: 18rem;">
                <div class="text-secondary card-body pt-5">
                    <h2><i class="fas fa-book fa-3x"></i></h2>
                </div>
                <div class="card-body">
                    <p class="badge badge-secondary">Upcoming release</p>
                    <h5 class="card-title text-muted">Notes+</h5>
                    <p class="card-text">Manage your notes and recipes. Group them into books, collections and share them with others!</p>
                    <a href="#" class="btn btn-secondary mx-1">Purchase Service</a>
                </div>
            </div>

            <div class="card text-center mr-4" style="width: 18rem;">
                <div class="text-secondary card-body pt-5">
                    <h2><i class="fas fa-glass-cheers fa-3x"></i></h2>
                </div>
                <div class="card-body">
                    <p class="badge badge-secondary">Upcoming release</p>
                    <h5 class="card-title text-muted">Bookings+</h5>
                    <p class="card-text">Manage your stock of foods and equipment. Keep track of what goes in and out of your kitchen.</p>
                    <a href="#" class="btn btn-secondary mx-1">Purchase Service</a>
                </div>
            </div>

            <div class="card text-center mr-4" style="width: 18rem;">
                <div class="text-secondary card-body pt-5">
                    <h2><i class="fas fa-store fa-3x"></i></h2>
                </div>
                <div class="card-body">
                    <p class="badge badge-secondary">Upcoming release</p>
                    <h5 class="card-title text-muted">Store+</h5>
                    <p class="card-text">Make money off selling your recipes, notes, books and live-step recipes to other users!</p>
                    <a href="#" class="btn btn-secondary mx-1">Purchase Service</a>
                </div>
            </div>
        </div>

        <div class="py-4"></div>

        <div class="d-flex justify-content-center align-items-center">
            <div class="card text-center mr-4" style="width: 18rem;">
                <div class="text-secondary card-body pt-5">
                    <h2><i class="fas fa-headset fa-3x"></i></h2>
                </div>
                <div class="card-body">
                    <p class="badge badge-secondary">Upcoming release</p>
                    <h5 class="card-title text-muted">Support</h5>
                    <p class="card-text">Got an issue or an enquiry you'd like to tell us about? Talk to us, and we'll sort it out ASAP.</p>
                    <a href="#" class="btn btn-success mx-1">Chat to us</a>
                </div>
            </div>

            <div class="card text-center mr-4" style="width: 18rem;">
                <div class="text-secondary card-body pt-5">
                    <h2><i class="fas fa-comments fa-3x"></i></h2>
                </div>
                <div class="card-body">
                    <p class="badge badge-secondary">Upcoming release</p>
                    <h5 class="card-title text-muted">Forums+</h5>
                    <p class="card-text">Manage your stock of foods and equipment. Keep track of what goes in and out of your kitchen.</p>
                    <a href="#" class="btn btn-success mx-1">View Forums</a>
                </div>
            </div>

            <div class="card text-center mr-4" style="width: 18rem;">
                <div class="text-secondary card-body pt-5">
                    <h2><i class="fas fa-money-check fa-3x"></i></h2>
                </div>
                <div class="card-body">
                    <p class="badge badge-secondary">Upcoming release</p>
                    <h5 class="card-title text-muted">Subscriptions and Orders</h5>
                    <p class="card-text">View my purchase history and active subscriptions. Cancel, freeze and resume subscriptions anytime!</p>
                    <a href="#" class="btn btn-success mx-1">View</a>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron text-center text-dark px-5" style="background-color: #faaf52">
        <h4 class="font-weight-normal display">"Mango helped me to kickstart my career off and allowed me to focus more on my cooking than management. I can store all of my recipes and notes in one place and start my own scooby snack business while doing so at the same time."</h4>
        <p class="lead font-weight-light">- SCOOBY DOO, MYSTERY INCORPORATED MASCOT</p>
        <div class="d-flex">
            <p class="m-auto">
                @for (int i = 0; i < 5; i++)
                {
                    <i class="fas fa-star mx-1" style="font-size: 1.5em"></i>
                }
            </p>
        </div>
    </div>
</div>