@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid p-4 bg-warning">
    <div class="container">
        <div class="jumbotron text-center" style="background-color: transparent !important">
            <h1 class="text-dark display-4 font-weight-bold">Be kind to your mind</h1>
            <p class="lead font-weight-normal">At Mango, we do all the hard work for you. From keeping a hold of your recipes, tracking your stocks and regularly reminding you of low stocks. We take away the hard bit and leave you with the work that you love most, cooking.</p>
            <div class="my-4"></div>
            <a class="btn btn-primary btn-lg rounded-pill mr-2" href="#" role="button">Sign me up</a>
            <a class="btn btn-light btn-lg rounded-pill" href="#" role="button">Learn more</a>
        </div>
    </div>
</div>

<div class="container-fluid p-4 bg-light">
    <div class="container">
        <div class="jumbotron text-center" style="background-color: transparent !important">
            <h1 class="text-dark display-4 font-weight-bold">Everything under one bundle</h1>
            <div class="my-4"></div>
            <div class="d-flex justify-content-center">
                <div class="card text-center mr-4" style="width: 18rem;">
                    <div class="text-secondary card-body pt-5">
                        <h2><i class="fas fa-book fa-3x"></i></h2>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Store Recipes</h5>
                        <p class="card-text">Keep a hold of all your great recipes and bring them up whenever you need them!</p>
                    </div>
                </div>

                <div class="card text-center mr-4" style="width: 18rem;">
                    <div class="text-secondary card-body pt-5">
                        <h2><i class="fas fa-utensils fa-3x"></i></h2>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Manage your Stocks</h5>
                        <p class="card-text">Manage equipment inside your kitchen and track your foods. We'll also remind you when you're running low on foods.</p>
                    </div>
                </div>

                <div class="card text-center mr-4" style="width: 18rem;">
                    <div class="text-secondary card-body pt-5">
                        <h2><i class="fas fa-glass-cheers fa-3x"></i></h2>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Track your Bookings</h5>
                        <p class="card-text">Track table bookings, events, and receive reminders of upcoming events, parties and celebrations!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid p-4 bg-white">
    <div class="container">
        <div class="jumbotron text-center" style="background-color: transparent !important">
            <h1 class="text-dark display-4 font-weight-bold">We'll provide you with the best user experience</h1>
            <p class="lead font-weight-normal">Our application is designed with simplicity in-mind. No hassles, little effort. You can have the peace of mind that your kitchen is managed productivity, and effortlessly.</p>
            <p class="lead font-weight-light">We offer 24/7 customer support. If you need us, we'll be there.</p>
            <div class="my-4"></div>
            <div class="d-flex justify-content-center">
                <div class="card text-center mx-2 w-100" style="width: 18rem; border: none;">
                    <div class="text-secondary card-body pt-5">
                        <h2><i class="fas fa-photo-video fa-3x"></i></h2>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Training tutorial videos and guides</h5>
                    </div>
                </div>

                <div class="card text-center mx-2 w-100" style="width: 18rem; border: none;">
                    <div class="text-secondary card-body pt-5">
                        <h2><i class="fas fa-paper-plane fa-3x"></i></h2>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Create notes, books, recipes and share them with other Mango users</h5>
                    </div>
                </div>

                <div class="card text-center mx-2 w-100" style="width: 18rem; border: none;">
                    <div class="text-secondary card-body pt-5">
                        <h2><i class="fas fa-tasks fa-3x"></i></h2>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Straightforward, and easy to use management system</h5>
                    </div>
                </div>

                <div class="card text-center mx-2 w-100" style="width: 18rem; border: none;">
                    <div class="text-secondary card-body pt-5">
                        <h2><i class="fas fa-envelope-open-text fa-3x"></i></h2>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Send customised emails to your clients and customers</h5>
                    </div>
                </div>

                <div class="card text-center mx-2 w-100" style="width: 18rem; border: none;">
                    <div class="text-secondary card-body pt-5">
                        <h2><i class="fas fa-lightbulb fa-3x"></i></h2>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Regular updates and additional features</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid p-3 bg-secondary">
    <div class="container">
        <div class="jumbotron text-center text-light" style="background-color: transparent !important">
            <h1 class="display-4 font-weight-bold">Our trusted clients</h1>
            <h2><i class="fas fa-seedling fa-3x"></i></h2>
            <div class="my-4"></div>
            <p class="lead font-weight-normal">We have none, lol. But it's ok, we gotta start somewhere.</p>
        </div>
    </div>
</div>

<div class="container-fluid p-3 bg-white">
    <div class="container">
        <div class="jumbotron text-center" style="background-color: transparent !important">
            <h1 class="text-dark display-4 font-weight-bold">Pricing</h1>
            <p class="lead">Mango offers 3 services: Stonks+, Notes+ and Bookings+.</p>
            <p class="lead">Lots of new services will be added in the future!</p>
            <div class="my-4"></div>
            <div class="d-flex justify-content-center">
                <div class="card text-center mr-4" style="width: 18rem;">
                    <div class="text-secondary card-body pt-5">
                        <h2><i class="fas fa-cube fa-3x"></i></h2>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Single Service Package</h5>
                        <p class="card-text">Select a service and start using it immediately!</p>
                    </div>
                    <div class="card-footer">
                        <h3>&pound; 1.60 / month</h3>
                    </div>
                </div>

                <div class="card text-center mr-4" style="width: 18rem;">
                    <div class="text-secondary card-body pt-5">
                        <h2><i class="fas fa-cubes fa-3x"></i></h2>
                    </div>
                    <div class="card-body">
                        <h3 class="badge badge-success">Best Value</h3>
                        <h5 class="card-title">All-in-One Package</h5>
                        <p class="card-text">Gain access to all of our services and future services all within one package!</p>
                    </div>
                    <div class="card-footer">
                        <h3>&pound; 3.00 / month</h3>
                        <h5>&pound; 10.00 for the entire source code</h5>
                    </div>
                </div>

                <div class="card text-center mr-4" style="width: 18rem;">
                    <div class="text-secondary card-body pt-5">
                        <h2><i class="fas fa-mug-hot fa-3x"></i></h2>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Selection Package</h5>
                        <p class="card-text">Select among a list of services you wish to use. The choice is totally yours.</p>
                    </div>
                    <div class="card-footer">
                        <h3>&pound; 1.00 per / month</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>